h1 {
    background-color: #89BD9E;
    font-family: "Black Ops One";
    font-size: 60px;
    color: #DB4C40;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

h2 {
  font-size: 35px;
  color: #DB4C40;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

body {
    font-family: Roboto;
    font-size: 25px;
    text-align: center;
    background-color: #F0C987;
    max-width: 1200px;
    margin: auto;
    color: #3E363F;
}

section {
  margin: 2em auto 2em auto;
}

/* Top Menu */

.menu ul li {

  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  background-color: #DB4C40;
  width: 25%;
}

.menu ul a li:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px #DB4C40;
}

.menu li {
  display: inline;
  margin: 0 auto;

}

.menu a {
  color: white;
}

/* About me */

#about-me {
    max-width: 98%;
    text-align: center;
    display: flex;
}

.picture {
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px #89BD9E;
    margin-left: 100px;
}

.desc {
  max-width: 40%;
  margin: 20px auto;
}

.about-me {
  margin-block: auto;
}

/* Skills */

#skills {
  text-align: center;
  max-width: 100%;
  display: flex;
  background-color: #89BD9E;
  border-radius: 10px;
  padding-top: 2em;
  padding-bottom: 2em;
  
}

.icons {
  width: 10%;
}

.hard {
  flex: 1;
}



/* */

strong {
    font-weight: 500;
}

.desc {
    text-align: center;
}



#lists {
  max-width: 200px;
  margin: 0 auto auto auto;
}

#lists li {
  text-align: left;
}


a {
  text-decoration: none;
  font-weight: 600;
}

.describe {
  text-align: left;
}