h1, h2 {
    
    background-color: #89BD9E;
    font-family: "Black Ops One";
    color: #DB4C40;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

body {
    font-family: Roboto;
    text-align: center;
    background-color: #F0C987;
    max-width: 1200px;
    margin: auto;
    color: #3E363F;
}

.foto {
    width: 100%;
    text-align: center;
}

#foto1 {
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 5px 5px #89BD9E;
}

strong {
    font-weight: 500;
}

.tam {
    font-size: 14px;
}

#destaque {
    font-weight: 700;
}

.tam2 {
    font-size: 18px;
}

.desc {
    text-align: center;
}

.menu, .menu:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  background-color: #DB4C40;
  margin: 5px;
  width: 25%;
}

.table li {
  display: inline;
  margin: 0 auto;
  
}

#lists {
  max-width: 200px;
  margin: 0 auto auto auto;
}

#lists li {
  text-align: left;
}

#desc {
  max-width: 200px;
  margin: 20px auto;
}

a {
  text-decoration: none;
  font-weight: 600;
}