header {
  background-image: url(images/background-header.jpg);
  background-size: cover;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* color: #9B999E; */
}




button {
  cursor: pointer;
}

li {
  cursor: default;
}

