* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

header {
  background-image: url(images/background-header.jpg);
  background-size: cover;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* color: #9B999E; */
}

main {
  padding: 20px;
}

button {
  cursor: pointer;
}

li {
  cursor: default;
}

#texto-tarefa {
  margin-bottom: 5px;
}

.card {
  background-image: url('https://gartic.com.br/imgs/mural/li/lindayana/folha-de-caderno.png');
  background-size: auto;
  background-repeat: no-repeat;
  flex-direction: row !important;
  justify-content: space-between;
}

.card-list {
  margin-top: 22px;
  margin-left: 30px;
}

.right-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.up-down {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#remover-selecionado {
  align-self: center;
}

.container {
  max-width: 700px !important;
}